<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} | KE8RJE Engineering Reference</title>
</head>

<body>

<header>
    <h1>KE8RJE Engineering Reference</h1>
</header>

<main>
{{ content | safe }}
</main>

<footer>
    © 2026 Skyler Hill
</footer>

</body>

</html>