---
layout: base.njk
---

<section class="hero">

    {{ content | safe }}

</section>

<section>

    <h2>Explore</h2>

    <ul>

        <li><a href="/education/">Education</a></li>

        <li><a href="/employers/">Employment</a></li>

        <li><a href="/projects/">Projects</a></li>

        <li><a href="/competencies/">Competencies</a></li>

        <li><a href="/software/">Software</a></li>

        <li><a href="/standards/">Standards</a></li>

    </ul>

</section>